{% load staticfiles %}

{% load compress %}



{% compress js %}
<script src="https://code.jquery.com/jquery-2.2.2.min.js"   
	integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static 'css/materialize/js/materialize.min.js' %}">
</script>
<!--<script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>-->
<script type="text/javascript" src="{% static 'javascript/underscore/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/angular/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/angular/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/snackbarjs/dist/snackbar.min.js' %}">
</script>
<script type="text/javascript" src="{% static 'javascript/medicrib.js' %}"></script>

<script type="text/javascript" src="{% static 'javascript/medicrib.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/medicrib.routes.js' %}"></script>
<script type="text/javascript" 
	src="{% static 'javascript/authentication/authentication.module.js' %}"></script>
<!--<script type="text/javascript" 
	src="{% static 'js/layout/layout.module.js' %}"></script>-->	
<script type="text/javascript" 
	src="{% static 'javascript/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" 
	src="{% static 'javascript/authentication/controllers/register.controller.js' %}"></script>


<script src="{% static 'javascript/bower_components/angular/angular.js' %}"></script>
<script 
	src="{% static 'javascript/bower_components/angular-animate/angular-animate.js' %}">
	</script>
<script src="{% static 'javascript/bower_components/angular-aria/angular-aria.js' %}">
</script>
<script src="{% static 'javascript/bower_components/angular-material/angular-material.js' %}"></script>
<script src="{% static 'javascript/bower_components/angular-material-icons/angular-material-icons.js' %}">
</script>

<script type="text/javascript" 
	src="{% static 'javascript/main.js' %}"></script>


<!--<script type="text/javascript" 
	src="{% static 'js/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" 
	src="{% static 'js/layout/controllers/navbar.controller.js' %}"></script>-->	 
		

{% endcompress %}	