{% load compress %}
{% load staticfiles %}

{% compress css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/materialize/css/materialize.css' %}" media='screen,projection' %}" />

<link rel="stylesheet" type="text/css" 
	href="{% static 'javascript/ngDialog/css/ngDialog.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'javascript/ngDialog/css/ngDialog-theme-default.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'javascript/snackbarjs/dist/snackbar.min.css' %}" />




{% endcompress %}